/Java/HolaMundo/nbproject/private/
/Java/HolaMundo/build/
/Java/Leccion1/HolaMundo1/nbproject/private/
/Java/Leccion1/HolaMundo2/nbproject/private/
/Java/Leccion1/HolaMundo2/build/
/Java/Leccion1/EjercicioTiendaDeLibrosClase6/nbproject/private/
/Java/Leccion1/EjercicioTiendaDeLibrosClase6/build/
/Java/Leccion1/InferenciaDeClases/nbproject/private/
/Java/Leccion1/InferenciaDeClases/build/
/Java/Leccion6/EjercicioTiendaDeLibrosClase6/build/
/Java/Leccion6/EjercicioTiendaDeLibrosClase6/nbproject/private/
/Java/Leccion1/HolaMundo + Tipos de Variables en Java/build/
/Java/Leccion1/HolaMundo + Tipos de Variables en Java/nbproject/private/
/Java/Leccion1/HolaMundo/build/
/Java/Leccion1/HolaMundo/nbproject/private/
/Java/Leccion8/Leccion8Rectangulo/nbproject/private/
/Java/Leccion8/Leccion8Rectangulo/build/
/Java/Leccion8/leccion8elMayorDeDosNumeros (Ternario)/nbproject/private/
/Java/Leccion8/leccion8elMayorDeDosNumeros (Ternario)/build/
/Java/Leccion8/leccion9AnioBisiesto/nbproject/private/
/Java/Leccion9/leccion9EjerciciosJava/nbproject/private/
/Java/Leccion9/leccion9EjerciciosJava/build/
/Java/Leccion4/leccion4TiposPrimitivos/nbproject/private/
/Java/Leccion4/leccion4TiposPrimitivos/build/
