/Java/HolaMundo/nbproject/private/
/Java/HolaMundo/build/
/Java/Leccion1/HolaMundo1/nbproject/private/
/Java/Leccion1/HolaMundo2/nbproject/private/
/Java/Leccion1/HolaMundo2/build/
/Java/Leccion1/EjercicioTiendaDeLibrosClase6/nbproject/private/
/Java/Leccion1/EjercicioTiendaDeLibrosClase6/build/
/Java/Leccion1/InferenciaDeClases/nbproject/private/
/Java/Leccion1/InferenciaDeClases/build/
/Java/Leccion6/EjercicioTiendaDeLibrosClase6/build/
/Java/Leccion6/EjercicioTiendaDeLibrosClase6/nbproject/private/
/Java/Leccion1/HolaMundo + Tipos de Variables en Java/build/
/Java/Leccion1/HolaMundo + Tipos de Variables en Java/nbproject/private/
/Java/Leccion1/HolaMundo/build/
/Java/Leccion1/HolaMundo/nbproject/private/
